---
---
@import "minima";

/* Title size overrides */
.site-title {
  font-size: 2rem;
  line-height: 1.5;
}
.post-title, .page-title, h1 {
  font-size: 1rem;
  line-height: 1.25;
}

.site-header {
  margin-top: 5rem;
  border-top: 0;
}

body {
  // padding-top: 3rem; /* ~16px; adjust */
  background-color: rgb(255, 251, 235);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
               "Noto Sans", "Liberation Sans", "DejaVu Sans", sans-serif;
}

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
               "Noto Sans", "Liberation Sans", "DejaVu Sans", sans-serif;
}

.post-content,
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6,
.post-content p, .post-content li, .post-content blockquote,
.post-content table, .post-content th, .post-content td,
.post-content code, .post-content pre {
  font-family: var(--font-sans);
}

/* Ensure titles match too */
.post-title, .page-title { font-family: var(--font-sans); }
/* Ensure links are styled consistently */
.post-content a, .post-content a:visited {
  color: #007bff; /* Adjust as needed */
  text-decoration: none;
}
.post-content a:hover, .post-content a:focus {
  text-decoration: underline;
}
.post-content pre {
  background-color: #fae8b6; /* Light background for code blocks */
  padding: 1rem;
  border-radius: 0.25rem;
  overflow-x: auto; /* Allow horizontal scrolling */
}

@media (min-width: 768px) {
  .site-title { font-size: 2.25rem; }
  .post-title, .page-title, h1 { font-size: 2.5rem; }
}

 /* Custom two-column layout styles */
// .custom-wrapper {
//   max-width: -webkit-calc(800px - (30px * 2));
//   max-width: calc(800px - (30px * 2));
//   margin-right: auto;
//   margin-left: auto;
//   padding-right: 30px;
//   padding-left: 30px;
//   display: flex;
//   gap: 30px;
// }
// .main-content-col { width: 70%; }
// .sidebar-col { width: 30%; }

// /* On smaller screens, stack the columns */
// @media screen and (max-width: 800px) {
//   .custom-wrapper { flex-direction: column; }
//   .main-content-col, .sidebar-col { width: 100%; }
// }
